
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=737fc7609bca7b2df81c9de55106d3a4
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress