
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=3e6f200bc34be59da5ac2baee8cc40fa
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress